<div class="form-row">
    <div class="form-group bmd-form-group col-md-12">
        <label for="" class="bmd-label-static">
            利用可能アプリケーション
            <a href="#" data-toggle="tooltip"
                title="<p class=&quot;text-left mb-0&quot;>チェックをONにしたアプリケーションでのみ注文取引を進めることができます。</p>"
                style="pointer-events: auto;">
                <span class="material-icons" style="font-size: 1.2em;">
                    help
                </span>
            </a>
        </label>
    </div>
</div>

<% applications.forEach((application, key) => { %>
<%
let checked = false;
let eligibleTransactionDurationMaxValue = '';
if (Array.isArray(forms.makesOffer)) {
    const offerByApplication = forms.makesOffer.find((offer) => {
        return Array.isArray(offer.availableAtOrFrom) && offer.availableAtOrFrom.some((a) => a.id === application.id);
    });
    if (offerByApplication !== undefined) {
        checked = true;
        if (offerByApplication.eligibleTransactionDuration !== undefined
        && typeof offerByApplication.eligibleTransactionDuration.maxValue === 'number') {
            eligibleTransactionDurationMaxValue = String(offerByApplication.eligibleTransactionDuration.maxValue);
        }
    }
}
%>
<div class="form-row">
    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-static"></label>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" <% if (checked) { %> checked="checked"
                    <% } %> value="<%= application.id %>"
                    name="makesOffer[<%= key %>][availableAtOrFrom][][id]"><%= application.name %>
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-static">注文取引期間</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">最大</span>
            </div>
            <input type="number" class="form-control" name="makesOffer[<%= key %>][eligibleTransactionDuration][maxValue]"
                id="makesOffer[<%= key %>][eligibleTransactionDuration][maxValue]" maxlength=4 min="60" max="3600" placeholder="900"
                value="<%= eligibleTransactionDurationMaxValue %>">
            <div class="input-group-append">
                <span class="input-group-text">秒</span>
            </div>
        </div>
        <span class="bmd-help">60~3600秒の間でご入力ください</span>
        <% if (errors && errors[`makesOffer[${key}].eligibleTransactionDuration.maxValue`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`makesOffer[${key}].eligibleTransactionDuration.maxValue`].msg %>
        </span>
        <% } %>
    </div>
</div>
<% }) %>