<%
const PROJECT_CREATOR_IDS = (typeof process.env.PROJECT_CREATOR_IDS === 'string')
    ? process.env.PROJECT_CREATOR_IDS.split(',')
    : [];
%>
<% applications.forEach((application, key) => { %>
<%
let checked = false;
let eligibleTransactionDurationMaxValue = '';
if (Array.isArray(forms.makesOffer)) {
    const offerByApplication = forms.makesOffer.find((offer) => {
        return Array.isArray(offer.availableAtOrFrom) && offer.availableAtOrFrom.some((a) => a.id === application.id);
    });
    if (offerByApplication !== undefined) {
        checked = true;
        if (offerByApplication.eligibleTransactionDuration !== undefined
        && typeof offerByApplication.eligibleTransactionDuration.maxValue === 'number') {
            eligibleTransactionDurationMaxValue = String(offerByApplication.eligibleTransactionDuration.maxValue);
        }
    }
}
%>
<div class="form-row<% if (!PROJECT_CREATOR_IDS.includes(user.profile.sub)) { %> d-none<% } %>">
    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-static"></label>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" <% if (checked) { %> checked="checked"
                    <% } %> value="<%= application.id %>"
                    name="makesOffer[<%= key %>][availableAtOrFrom][][id]"><%= application.name %>
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-floating">eligibleTransactionDuration</label>
        <input type="number" class="form-control" name="makesOffer[<%= key %>][eligibleTransactionDuration][maxValue]"
            id="makesOffer[<%= key %>][eligibleTransactionDuration][maxValue]" maxlength=64
            value="<%= eligibleTransactionDurationMaxValue %>">
        <% if (errors && errors[`makesOffer[${key}].eligibleTransactionDuration.maxValue`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`makesOffer[${key}].eligibleTransactionDuration.maxValue`].msg %>
        </span>
        <% } %>
    </div>
</div>
<% }) %>