<%- contentFor('title') %>
注文詳細
<%- contentFor('displayId') %>
OR-02
<%- contentFor('styles') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" rel="stylesheet">

<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="/js/orders/details.js"></script>

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-8">
        <div class="card card-plain">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#timeline" data-toggle="tab" role="tablist">timeline</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab" role="tablist">JSON
                            Viewer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab" role="tablist">Settings</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane" id="timeline">
                    </div>

                    <div class="tab-pane" id="jsonViewer">
                        <div class="form-group bmd-form-group col-md-12">
                            <textarea class="form-control" rows="40" placeholder=""
                                disabled=""><%= JSON.stringify(order, null, '\t') %></textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                        <!-- form start -->
                        <form role="form" method="post">
                        </form>

                        <% if (order.orderStatus === 'OrderDelivered') { %>
                        <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-return"><i class="material-icons">cancel</i> 返品</a>
                        <% } %>
                        <% if (order.orderStatus === 'OrderReturned') { %>
                        <button type="button" class="btn btn-default disabled">
                            <i class="material-icons">cancel</i> 返品済
                        </button>
                        <% } %>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray"><%= order.orderNumber %></h6>
                <h4 class="card-title"></h4>
                <p class="card-description">
                </p>
                <!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-return" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= order.orderNumber %>を返品しますか？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= order.orderNumber %>を返品するには、ID「<b><%= order.orderNumber %></b>」を入力してください。
                </p>
                <form>
                    <input type="hidden" class="form-check-input" name="confirmationNumber" value="<%= order.confirmationNumber %>">
                    <div class="form-group">
                        <input type="text" class="form-control" id="confirmReturn" placeholder="OrderNumber"
                            data-expected="<%= order.orderNumber %>">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <!-- <button type="submit" class="btn btn-primary">更新</button> -->
                <button type="button" class="btn btn-primary disabled returnOrder" disabled>返品する</button>
            </div>
        </div>
    </div>
</div>
