<%- contentFor('title') %>
タスク詳細
<%- contentFor('displayId') %>
TA-02
<%- contentFor('styles') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" rel="stylesheet">

<%- contentFor('scripts') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-8">
        <div class="card card-plain">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#jsonViewer" data-toggle="tab" role="tablist">JSON
                        Viewer</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="active tab-pane" id="jsonViewer">
                        <div class="form-group bmd-form-group col-md-12">
                            <textarea class="form-control" rows="40" placeholder=""
                                disabled=""><%= JSON.stringify(task, null, '\t') %></textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray"><%= task.id %></h6>
                <h4 class="card-title"></h4>
                <p class="card-description">
                </p>
                <!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
            </div>
        </div>
    </div>
</div>