<% providers.forEach((provider, key) => { %>
<%
let useCallback = false;
let useWebhook = false;
if (provider.credentials !== undefined && provider.credentials.paymentUrl !== undefined) {
    if (provider.credentials.paymentUrl.useCallback === true || provider.credentials.paymentUrl.useCallback === '1') {
        useCallback = true;
    }
    if (provider.credentials.paymentUrl.useWebhook === true || provider.credentials.paymentUrl.useWebhook === '1') {
        useWebhook = true;
    }
}
%>
<div class="form-row">
    <div class="form-group bmd-form-group col-2">
        <label for="provider[<%= key %>][seller]" class="bmd-label-static">
            販売者
        </label>
        <select class="form-control providerSeller" name="provider[<%= key %>][seller]"
            id="provider[<%= key %>][seller]" style="width: 100%;">
            <option value="<%= (typeof provider.id === 'string') ? JSON.stringify(provider) : '' %>"
                selected="selected">
                <%= (typeof provider.id === 'string') ? provider.name.ja : '' %></option>
        </select>

        <% if (errors && errors[`provider[${key}].seller`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].seller`].msg %>
        </span>
        <% } %>
    </div>
    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-floating">ムビチケ興行会社コード</label>
        <input class="form-control" name="provider[<%= key %>][credentials][kgygishCd]"
            id="provider[<%= key %>][credentials][kgygishCd]" maxlength=64
            value="<%= (provider.credentials !== undefined) ? provider.credentials.kgygishCd : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.kgygishCd`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.kgygishCd`].msg %>
        </span>
        <% } %>
    </div>

    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-floating">ムビチケサイトコード</label>
        <input class="form-control" name="provider[<%= key %>][credentials][stCd]"
            id="provider[<%= key %>][credentials][stCd]" maxlength=64
            value="<%= (provider.credentials !== undefined) ? provider.credentials.stCd : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.stCd`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.stCd`].msg %>
        </span>
        <% } %>
    </div>
</div>
<div class="form-row">
    <div class="form-group bmd-form-group col-2">
    </div>
    <div class="form-group bmd-form-group col-1">
        <label class="bmd-label-floating">ショップID</label>
        <input class="form-control" name="provider[<%= key %>][credentials][shopId]"
            id="provider[<%= key %>][credentials][shopId]" maxlength=64
            value="<%= (provider.credentials !== undefined) ? provider.credentials.shopId : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.shopId`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.shopId`].msg %>
        </span>
        <% } %>
    </div>

    <div class="form-group bmd-form-group col-1">
        <label class="bmd-label-floating">ショップPASS</label>
        <input class="form-control" name="provider[<%= key %>][credentials][shopPass]"
            id="provider[<%= key %>][credentials][shopPass]" maxlength=64
            value="<%= (provider.credentials !== undefined) ? provider.credentials.shopPass : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.shopPass`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.shopPass`].msg %>
        </span>
        <% } %>
    </div>

    <div class="form-group bmd-form-group col-4">
        <label class="bmd-label-floating">トークン認証コード</label>
        <input class="form-control" name="provider[<%= key %>][credentials][tokenizationCode]"
            id="provider[<%= key %>][credentials][tokenizationCode]" maxlength=64
            value="<%= (provider.credentials !== undefined) ? provider.credentials.tokenizationCode : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.tokenizationCode`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.tokenizationCode`].msg %>
        </span>
        <% } %>
    </div>

    <div class="form-group bmd-form-group col-2">
        <label class="bmd-label-floating">expiresInSeconds</label>
        <input type="number" class="form-control" name="provider[<%= key %>][credentials][paymentUrl][expiresInSeconds]"
            id="provider[<%= key %>][credentials][paymentUrl][expiresInSeconds]" maxlength=64
            value="<%= (provider.credentials !== undefined && provider.credentials.paymentUrl !== undefined) ? provider.credentials.paymentUrl.expiresInSeconds : '' %>">
        <% if (errors && errors[`provider[${key}].credentials.paymentUrl.expiresInSeconds`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`provider[${key}].credentials.paymentUrl.expiresInSeconds`].msg %>
        </span>
        <% } %>
    </div>

    <div class="form-group bmd-form-group col-1">
        <label class="bmd-label-floating"></label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="1" name="provider[<%= key %>][credentials][paymentUrl][useCallback]"<% if (useCallback) { %> checked<% } %>>useCallback
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>

    <div class="form-group bmd-form-group col-1">
        <label class="bmd-label-floating"></label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="1" name="provider[<%= key %>][credentials][paymentUrl][useWebhook]"<% if (useWebhook) { %> checked<% } %>>useWebhook
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
</div>
<div class="form-row">
</div>
<% }) %>